* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d093d;
}

nav {
    background: none;
    color: #fff;
    padding: 1rem;
}

aside {
    background: none;
    padding: 1rem;
    width: 200px;
    position: relative;
}

div {
    padding: 1rem;
}

nav h1 {
    font-size: 1.5rem;
}

aside h2 {
    font-size: 1.2rem;
}

div h3 {
    font-size: 1rem;
}


.main-content {
    display: flex;

}

.AsideBar {
    z-index: 0;
}